<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{f url_for('static', filename='style.css') }}">
    <title> Northwest Pizza </title>
</head>
<body>
    <div class="header">
        <h1>Northwest Pizza</h1>
        <nav class="navbar">
            <a href="/home">Home</a></li>
            <a href="/orders/checkout">Checkout</a></li>
            <a href="/user/account">Account</a></li>
            <form action="/user/logout" method="post">
                <input type="submit" class="btn btn-primary" value="Log out">
            </form>
        </nav>
    </div>
    <main class="container">
        <section class="new-order">
            <p> Craving something different? build a new pizza here </p>
            <button onclick="location.href='/orders/new'">New Order</button>
        </section>
    
        <section class="past-orders">
            <p> Have an apetite for something familiar? re-order a past order here </p>
            <button onclick="location.href='/user/account'">View Past Orders</button>
        </section>
    </main>
</body>
</html>